@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html,body {
  height: 100%;
  width: 100%;
  background-color: #f4e4ba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main{
  width: 50%;
  min-width: 280px;
  max-width: 400px;
  height: 450px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 15px;
}
h2 , i{
  text-align: center;
  font-size: 25px;
}
.amount p {
  font-size: 23px;
  padding-bottom: 5px;
}
form{
  margin: 2rem 0 1rem 0;
}
form select, button, input{
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}
input{
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.drop-down{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 20px;
}
.img-from,.img-to{
  display: flex;
  gap: 0;
  height: 90%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}
.select-container{
  border-radius: 10px ;
  border : 0.5px solid rgb(122, 118, 118);
  padding: 5px;
  width: 115px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.select-container img {
  width: 90%;
  border-radius: 10px;
  height: 40px;
}
.select-container select{
  font-size: 16px;
  padding: 0;
}
.select-container option{
  color: white;
  background-color: rgb(90, 89, 88);
}
.final-msg, button{
  font-size: 20px;
}
button{
  color: white;
  background-color: #d65353;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 7px;
}